.cf1{
  position: relative;
  top: 100px;
  right: 50px;
  display: inline-block;
  overflow: hidden;
  width:200px;
  height:200px;
  transform:rotate(-45deg);
}
.cf2{
  position: relative;
  top: 300px;
  right: 100px;
  display: inline-block;
  overflow: hidden;
  width:200px;
  height:200px;
  transform:rotate(45deg);
}
.cf3{
  position: relative;
  right: 250px;
  top: -100px;
  display: inline-block;
  overflow: hidden;
  width: 200px;
  height: 200px;
  transform:rotate(45deg);
}
.cf4{
  position: relative;
  left: 290px;
  bottom: 90px;
  display: inline-block;
  overflow: hidden;
  width: 200px;
  height: 200px;
  transform:rotate(45deg);
}
.cf5{
  position: relative;
  left: 280px;
  bottom: 280px;
  display: inline-block;
  overflow: hidden;
  width: 200px;
  height: 200px;
  transform:rotate(-45deg);
}
.cf6{
  position: relative;
  left: 350px;
  bottom: 200px;
  display: inline-block;
  overflow: hidden;
  width: 200px;
  height: 200px;
  transform:rotate(45deg);
}
.cf7{
  position: relative;
  left: 560px;
  bottom: 200px;
  display: inline-block;
  overflow: hidden;
  width: 200px;
  height: 200px;
  transform:rotate(45deg);
}
.cf8{
  position: relative;
  right: 40px;
  top: 200px;
  display: inline-block;
  overflow: hidden;
  width: 200px;
  height: 200px;
  transform:rotate(45deg);
}
.cf9{
  position: relative;
  right: 50px;
  top: 5px;
  display: inline-block;
  overflow: hidden;
  width: 200px;
  height: 200px;
  transform:rotate(45deg);
}
.cf10{
  position: relative;
  right: 80px;
  top: -130px;
  display: inline-block;
  overflow: hidden;
  width: 200px;
  height: 200px;
  transform:rotate(45deg);
}
.cf11{
  position: relative;
  left: 760px;
  bottom: 800px;
  display: inline-block;
  overflow: hidden;
  width: 200px;
  height: 200px;
  transform:rotate(45deg);
}
.cf12{
  position: relative;
  left: 800px;
  bottom: 650px;
  display: inline-block;
  overflow: hidden;
  width: 200px;
  height: 200px;
  transform:rotate(45deg);
}
.cf13{
  position: relative;
  left: 1000px;
  bottom: 1400px;
  display: inline-block;
  overflow: hidden;
  width: 200px;
  height: 200px;
  transform:rotate(45deg);
}
.cf14{
  position: relative;
  left: 600px;
  bottom: 1200px;
  display: inline-block;
  overflow: hidden;
  width: 200px;
  height: 200px;
  transform:rotate(45deg);
}
.cf15{
  position: relative;
  left: 600px;
  bottom: 650px;
  display: inline-block;
  overflow: hidden;
  width: 200px;
  height: 200px;
  transform:rotate(45deg);
}
.cf16{
  position: relative;
  left: 790px;
  bottom: 1400px;
  display: inline-block;
  overflow: hidden;
  width: 200px;
  height: 200px;
  transform:rotate(45deg);
}
.cf17{
  position: relative;
  left: 400px;
  bottom: 1210px;
  display: inline-block;
  overflow: hidden;
  width: 200px;
  height: 200px;
  transform:rotate(45deg);
}

.coffee{
  flex-direction: column-reverse;
  justify-content: flex-end;

}
